/* Credit Range Slider */
#range-slider-credits {
  background: #ffbf00;
}

#range-slider-credits .range-slider__range {
  background: #ffbf00;
  transition: height 0.3s;
}

#range-slider-credits .range-slider__thumb {
  background: #faa307;
  transition: transform 0.3s;
}

#range-slider-credits .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider-credits .range-slider__range[data-active] {
  height: 16px;
}